.foot {
    background: #f3f3f3 url(../images/bg.jpg);
/*     padding-top:300px; */
    height: 351px;
}

.f1 {
    background: #e8d9c3 url(../images/f1.png) no-repeat center 0;
    height: 351px
}

.f1 span {
    display: block;
    padding-top: 0px
}

.f1 i {
    float: left;
    display: block;
    width: 1920px;
    height: 232px;
    margin: -44px 0 62px -86px;
    cursor: pointer
}

.f1 i.r {
    margin-left: 100px;
    width: 490px
}

.f2 {
    background: #00abeb url(../images/map.png) no-repeat center 0;
    height: 632px
}

.f2 ul {
    position: relative
}

.f2 li {
    position: absolute;
    font-size: 14px
}

.f2 .n0 {
    top: 210px;
    left: 940px
}

.f2 .n1 {
    top: 388px;
    left: 1005px;
    font-size: 16px
}

.f2 .n2 {
    top: 300px;
    left: 1026px
}

.f2 .n3 {
    top: 318px;
    left: 940px
}

.f2 .n4 {
    top: 353px;
    left: 835px
}

.f2 .n5 {
    top: 190px;
    left: 923px;
    font-size: 12px
}

.f2 .n6 {
    top: 204px;
    left: 1028px
}

.f2 .n7 {
    top: 159px;
    left: 1064px
}

.f2 .n8 {
    top: 232px;
    left: 930px
}

.f2 .n20 {
    top: 381px;
    left: 835px
}

.f2 .n21 {
    top: 142px;
    left: 563px
}

.f2 .n22 {
    top: 257px;
    left: -65px
}

.f2 .n23 {
    top: 178px;
    left: 635px
}

.f2 a {
    color: #ffe001;
    padding: 0 3px;
    border-radius: 3px
}

.f2 .n20 a, .f2 .n21 a, .f2 .n22 a, .f2 .n23 a {
    color: #fff
}

.f2 a:hover {
    color: #333;
    background: #ffe001
}

.f3 {
    background: url(../images/f3.png) no-repeat center 0;
    height: 445px
}

.f3 .bd {
    width: 812px;
    height: 293px;
    padding-top: 45px;
    margin: 0 auto;
    overflow: hidden
}

.f3 .l {
    width: 360px;
    height: 170px;
    margin-left: 20px;
    overflow: hidden
}

.f3 .l a {
    display: block;
    padding-top: 180px
}

.f3 ul {
    float: right;
    width: 360px
}

.f3 li {
    background: url(../images/f3_i.png) no-repeat;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    overflow: hidden
}

.f3 .n2 {
    background-position: 0 -40px
}

.f3 .n3 {
    background-position: 0 -80px
}

.f3 .n4 {
    background-position: 0 -120px
}

.f3 li a {
    color: #fff;
    padding-left: 30px
}

.f3 li a:hover {
    color: #00abeb
}

.f3 .bt {
    width: 92px;
    height: 92px;
    margin: 0 auto;
    overflow: hidden
}

.f3 .bt a {
    display: block;
    padding-top: 95px
}

.f4 {
    padding: 20px 0 0;
    height: 150px;
    margin: 0 auto;
    line-height: 30px;
    clear: both;
    text-align: center;
    font-size: 14px
}

.f4 a:hover {
    text-decoration: underline
}

.f4 a.ilank {
    padding: 0 5px
}

.f4 a.ilank:hover {
    color: #fff;
    background: #333;
    border-radius: 3px
}

.f4 i {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #999;
    display: block
}

#nav2 {
    background: #0054a7;
    height: 80px;
    text-align: center;
    position: relative
}

#nav2 i {
    border-bottom: 1px solid #0054a7;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%
}

#nav2 ul {
    width: 1180px;
    margin: 0 auto
}

#nav2 li {
    float: left;
    position: relative
}

#nav2 a {
    display: block;
    float: left;
    height: 80px;
    color: #fff;
    width: 116px;
    position: relative
}

#nav2 a:hover {
    height: 80px;
    text-decoration: none;
    background: #0054a7
}

#nav2 b {
    font-weight: normal;
    font-size: 16px;
    margin: 20px 0 5px;
    display: block;
    position: relative
}

#nav2 a span {
    font-size: 9px \9;
    line-height: 12px;
    display: block;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    color: #c4cfd8
}

/*-----鼠标滑过菜单效果------*/
/*#nav2 ul li:hover {*/
    /*width: 100px;*/
/*}*/